@charset "UTF-8";

#accountset,
#personaldata,
#privacyset,
#techdrive,
#backgroundset,
#picture,
#homepagerecommended,
#chatroombackgroundsettings,
#submit2,
#sendresetphonenumber,
#friendsset,
#adset,
#Techaiset,
#sendzippendselect,
#otherdevice,
#moveaccount {
    width: 98%;
    height: 30px;
    border-radius: 30px;
    transition-duration: 0.4s;
}

#passwordtpt {
    transition-duration: 0.4s;
}

#accountset:hover,
#personaldata:hover,
#privacyset:hover,
#techdrive:hover,
#natbgf:hover,
#moveaccount:hover {
    color: white;
    background-color: red;
}

#backgroundset:hover,
#picture:hover,
#homepagerecommended:hover,
#chatroombackgroundsettings:hover {
    color: white;
    background-color: yellow;
}

#phonesettelinput {
    border-bottom-width: 2px;
    border-color: gold;
}

#sendresetphonenumber:hover,
#submit2:hover,
#friendsset:hover,
#adset:hover,
#Techaiset:hover,
#sendzippendselect:hover,
#otherdevice:hover,
#passwordtpt:hover {
    color: #ffffff;
    background-color: green;
}

#natbgf2:hover {
    color: #ffffff;
    background-color: blue;
}

#natbgf {
    position: relative;
    width: 47%;
    height: 30px;
    left: 0;
    border-bottom-left-radius: 30px;
    transition-duration: 0.4s;
}

#natbgf2 {
    position: relative;
    width: 47.75%;
    height: 30px;
    top: -62px;
    left: 50%;
    border-bottom-right-radius: 30px;
    transition-duration: 0.4s;
}

#techchaticon {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 40px;
    left: 0;
    border-radius: 20px;
}

select {
    color: white;
    background-color: black;
    position: relative;
}